<h3>Bonjour {{ name }} Cliquez sur le lien ci-dessous pour confirmer votre inscription</h3>
<br><a href="{{url('security_validation',{'code':code})}}">
    Validation de l'inscription
</a>
<br><br><img src={{ absolute_url("/images/logo.png") }}>

