{% extends 'base.html.twig' %}

{% block body %}

    <h3>Connexion !</h3>
    <form action="{{ path('security_login') }}" method="post">
        <div class="form-group">
            <input placeholder="Adresse Email ..." required name="_username" type="text" class="form-control">
        </div>
        <div class="form-group">
            <input placeholder="Mot de passe..." required name="_password" type="password" class="form-control">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Connexion !</button>
        </div>
    </form>
    
   {% if message is defined %}
        {% if message==1 %}
            <h4>Vous allez recevoir un email de confirmation, Cliquez sur le lien pour valider votre inscription</h4>
        {% elseif message==2  %}
            <h4>Echec inscription</h4>
        {% else %}
            {{message|raw}}
        {% endif %}
   {% endif %}
    
    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#motdepasseoublie">
        Mot de passe oublié
    </button>
    <div id="motdepasseoublie" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form action="{{ path('user_mdpoublie') }}" method="post">
                        <div class="form-group">
                            <input placeholder="Adresse Email" required name="email" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Envoyer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}