{% extends 'base.html.twig' %}

{% block body %}
    <h3>Inscription utilisateur</h3>
    {{form_start(form)}}
    {{form_row(form.username,{'label':'Nom d\'utilisateur','attr':{'placeholder':'Nom d\'utilisateur ...'}})}}
    {{form_row(form.email,{'label':'Email utilisateur','attr':{'placeholder':'Email utilisateur ...'}})}}
    {{form_row(form.password,{'label':'Mot de passe','attr':{'placeholder':'Mot de passe ...'}})}}
    {{form_row(form.confirm_password,{'label':'Confirmation Mot de passe','attr':{'placeholder':'Confirmation Mot de passe ...'}})}}
    <button type="submit" class="btn btn-success">Inscription !</button>   
    {{form_end(form)}}
{% endblock %}


