{% extends 'base.html.twig' %}

{% block body %}
    {% if message is defined %}
        {% if message==1 %}
            <h4>Validation réussie</h4>   
            <a href="{{path('security_login')}}" class="btn btn-success">Connexion !</a>        
        {% elseif message==0  %}
            <h4>Echec Validation</h4>
        {% else %}
            {{message|raw}}
        {% endif %}
   {% endif %}

{% endblock %}