{{ form_start(formComment,{'action':'/comment/'~id~'/new'}) }} 
    {{ form_row(formComment.content,{'attr':{'placeholder':"Contenu du commentaire"},'label':'Contenu'}) }}
    <button type="submit" class="btn btn-success">Ajouter un commentaire</button>
{{ form_end(formComment) }}
