{% extends 'base.html.twig' %}

{% block title %}Back Office{% endblock %}

{% block body %}
    <br><br>
    <nav class="nav">
        <li class="nav-item">
            <a class="nav-link " target="_blank" href="/admin_secret">Gestion Tables</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{path("user_show",{'id':app.user.id})}}">{{app.user.username}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{path("bo_comments")}}">Validation Commentaires</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{path('news_index')}}">News</span></a>
        </li>
    </nav>
{% endblock %}
