{# templates/blog/_recent_articles.html.twig #}
<h4 class="alert alert-success text-center">Derniers articles</h4>
<nav class="navbar bg-light">
    <ul class="navbar-nav">
    {% for article in articles %}
        <li class="nav-item">
            <a class="nav-link"  href="{{ path('article_show',{'id':article.id}) }}">
                {{ article.title }}
            </a>
        </li>
    {% endfor %}
    </ul>
</nav>
    
 
