{% extends 'base.html.twig' %}

{% block title %}Accueil Blog{% endblock %}
{% block stylesheets %}
    <!-- AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock %}
{% block body %}

<h2 class="alert alert-success text-center">{{slogan|default("")}}</h2> 
<div class="row">
    <div class="col-2">
        {{ render(path('article_dernier', {etat: 'Publié'})) }}
        {% if articleLu is not null %}
            <h4 class="alert alert-success text-center">Dernier article lu</h4>
            <nav class="navbar bg-light">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link"  href="{{ path('article_show',{'id':articleLu.id}) }}">
                            {{ articleLu.title }}
                        </a>
                    </li>
                </ul>
            </nav>
        {% endif %}
    </div>
    <div class="col-8">
        <form  class="alert alert-success " action="">
            <div class="row">
                <div class="col-11">
                    <input type="hidden"   class="form-control" id="id_article" name="id_article" >
                    <input type="text" class="form-control" id="title_article" name="title_article" placeholder="Recherche Titre" required>
                </div>
                <div class="col-1">
                    <button id="btn_afficher_titre" class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form> 
        <h4 class="alert alert-success text-center">Articles les plus likés</h4> 
        <div id="my-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li class="active" data-target="#my-carousel" data-slide-to="0" aria-current="location"></li>
            <li data-target="#my-carousel" data-slide-to="1"></li>
        </ol>  
        <div class="carousel-inner">
            {% set i = 0 %}
            {% for article in articles %}
                {% set i=i+1 %}
                <div class="carousel-item  {% if i==1 %} active {% endif %}">
                    <img class="d-block w-100" src="/images/articles/{{article.image}}" alt="" onerror="this.src='/images/inconnu.png';">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{article.title}}</h5>
                        <h6>Likes : {{article.Count_like}} </h6>
                        <p><a href="{{ path('article_show',{'id':article.id}) }}" class="btn btn-primary">lire la suite</a></p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#my-carousel" data-slide="prev" role="button">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#my-carousel" data-slide="next" role="button">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        </div>
    </div>
    <div class="col-2">      
        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#modal_lastComments">Derniers Articles Commentés</button>
        <div id="modal_lastComments" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h4 class="alert alert-success text-center">Derniers articles Commentés</h4>
                        <nav class="navbar bg-light">
                            <ul class="navbar-nav">
                            {% for article in articleComments   %}
                                <li class="nav-item">
                                    <a class="nav-link"  href="{{ path('article_show',{'id':article.id}) }}">
                                        {{ article.title }}
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <link rel="stylesheet" href="/js/jquery-ui.min.css">
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/main.js"></script>
    <script>      
        autocompletion(
            false,  //true prends les premiers caractères.
            "/article/title/autocomplete",  //url (route) du fichier serveur dont le code renvoie les data en json
            "POST",   //Type de tableau utilisé POST   GET
            "action=chargeTitle",  // data envoyée à l'url
            false, //Désactive le debug  (alert)
            3, //nombre de caractères pour afficher la liste
            500,  //Délai d'affichage
            $("#title_article"),  //elément html  contenant les données à afficher
            $( "#id_article" ), //elément html cachée contenant les données à récupérer
            function(){
               
            }
        );

        document.getElementById("btn_afficher_titre").addEventListener('click',function(event){
            event.preventDefault();
            let id_article=document.getElementById("id_article").value;
            window.location.href="/article/"+id_article+"/show";
        });
    </script>
{% endblock %}
