{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Edit News{% endblock %}

{% block body %}
    <h3>Editer une News</h3>

    {{ include('news/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
    <br><br>
    <a  class="btn btn-primary" href="{{ path('news_index') }}">Lister les news</a>
    <br><br>
    {{ include('news/_delete_form.html.twig') }}
{% endblock %}
