{% extends 'base.html.twig' %}

{% block title %}News Liste{% endblock %}

{% block body %}
    <h3 class="alert alert-success text-center">Les news</h3>

    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Actif</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for news in news %}
            <tr>
                <td>{{ news.id }}</td>
                <td>{{ news.content|raw }}</td>
                <td>{{ news.actif ? 'Yes' : 'No' }}</td>
                <td>
                    <a  class="btn btn-primary" href="{{ path('news_show', {'id': news.id}) }}">Afficher</a>
                    &nbsp;&nbsp;
                    <a  class="btn btn-primary" href="{{ path('news_edit', {'id': news.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a  class="btn btn-primary" href="{{ path('news_new') }}">Créer une news</a>
{% endblock %}
