{% extends 'base.html.twig' %}

{% block title %}News liste{% endblock %}

{% block body %}
    <h3 class="alert alert-success text-center">Les news</h3>

    <table class="table table-hover table-bordered">
        <tbody>
        {% for news in news %}
            <tr>
                <td>{{ news.content|raw }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
