{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}New News{% endblock %}

{% block body %}
    <h1>Create new News</h1>

    {{ include('news/_form.html.twig') }}

    <a  class="btn btn-primary" href="{{ path('news_index') }}">Lister les news</a>
{% endblock %}
