{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
    <h3>News</h3>

    <table  class="table table-hover table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ news.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ news.content|raw }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ news.createdAt ? news.createdAt|date('d/m/Y') : ''}}</td>
            </tr>
            <tr>
                <th>Actif</th>
                <td>{{ news.actif ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a  class="btn btn-primary" href="{{ path('news_index') }}">Lister les News</a>
    <br><br>
    <a  class="btn btn-primary" href="{{ path('news_edit', {'id': news.id}) }}">Editer</a>
    <br><br>
    {{ include('news/_delete_form.html.twig') }}
{% endblock %}
