<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="shortcut icon" type="image/x-icon" href="/images/logo.png">
        <!-- Bootstrap CSS -->
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
        <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
        <!-- Bootstrap jQuery first, then Popper.js, then Bootstrap JS -->
        <!-- 
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>       
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        -->
        <script src="/bootstrap/jquery-3.4.1.slim.min.js" ></script>
        <script src="/bootstrap/popper.min.js"></script>
        <script src="/bootstrap/bootstrap.min.js"></script>       
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="{{path('home')}}">
              <img  class="img img-responsive" src="/images/logo.png" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>     
            <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{{path('article_index')}}">Lister les articles</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{path('news_index')}}">News</span></a>
                </li>
                <li class="nav-item">
                  {% if is_granted('ROLE_USER')  %}
                  <li class="nav-item">
                     <a class="nav-link" href="{{path("article_new")}}">Créer un Article</a>
                  </li> 
                  {% endif %}
                </li>
              </ul>
              <ul class="navbar-nav navbar-right">
                  {% if app.user %}
                        <li class="nav-item">
                            <a href="#" class="nav-link">Dernière connexion : {{app.session.get('lastConnect')|date('d/m/Y H:i:s')}}</a>
                        </li>
                        <li class="nav-item">                    
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="nav-link" href="/bo">Back Office</a>
                            {% else %}
                              <a class="nav-link" href="{{path("user_show",{'id':app.user.id})}}">{{app.user.username}}</a>
                            {% endif %}                
                        </li>
                        <li class="nav-item">
                            <a href="{{path('security_logout')}}" class="nav-link">Déconnexion</a>
                        </li>
                  {% else %}
                    <li class="nav-item">
                          <a href="{{path('security_registration')}}" class="nav-link">Inscription</a>
                        </li>
                        <li class="nav-item">
                          <a href="{{path('security_login')}}" class="nav-link">Connexion</a>
                        </li>
                  {% endif %}                  
            </ul>
           
            </div>
        </nav>
        <div class="container">
            {{ include('blog/_flash_messages.html.twig') }}
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
