{# templates/bundles/TwigBundle/Exception/error499.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Erreur{% endblock %}
{% block body %}
    <h3 class="text-center">SECURITE</h3>
	<div class="text-center"  > 
        {{ exception.message }}  
    </div>
{% endblock %}
