{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{{ form_start(formArticle) }}
   
    {{ 
        form_row(
            formArticle.title,
            {
            'attr':{
                'placeholder':"Titre de l'article"
                    },
            'label':'Titre'
            }
        ) 
    }}
    {{ form_row(formArticle.category,{'label':'Catégorie'}) }}
    {{ form_row(formArticle.category_auto,{'label':'Catégorie'}) }}
    {{ form_row(formArticle.etat,{'label':'Etat'}) }}
    {{ form_row(formArticle.content,{'attr':{'placeholder':"Contenu de l'article"},'label':'Contenu'}) }}
    {{ form_row(formArticle.fichierimage)}}

    {% if article is defined  %}
        <img width="50%"  src="/{{chemin_images_articles}}/{{article.image}}"  alt="Image de l'article"  onerror="this.src='/images/inconnu.png';">
    {% else %}
        <img width="50%"  src="/images/inconnu.png"  alt="Image de l'article">
    {% endif %}
    
    <br><br>
    <button type="submit" class="btn btn-success">{{ button_label}}</button>

{{ form_end(formArticle) }}
<script src="/ckeditor/ckeditor.js"></script>
<link rel="stylesheet" href="/js/jquery-ui.min.css">
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/main.js"></script>
<script>      
    CKEDITOR.replace( 'article_content' );

    autocompletion(
        false,  //true prends les premiers caractères.
        "/article/category/autocomplete",  //url (route) du fichier serveur dont le code renvoie les data en json
        "POST",   //Type de tableau utilisé POST   GET
        "action=chargeCategory",  // data envoyée à l'url
        false, //Désactive le debug  (alert)
        3, //nombre de caractères pour afficher la liste
        500,  //Délai d'affichage
        $("#article_category_auto"),  //elément html  contenant les données à afficher
        $( "#article_category" ), //elément html cachée contenant les données à récupérer
        null
    );
</script>