{% extends "base.html.twig" %}

{% block body %}

    <h1>Modification d'un article</h1>
  
     {{ include('article/_form.html.twig', {'button_label': 'Modifier l\'article'}) }}
     <br>
     <a id="btnSupprimer" href="{{ path('article_delete',{'id':article.id}) }}" class="btn btn-success">Supprimer l'article</a>
     
{% endblock %}
{% block javascripts %}
<script>
    document.getElementById('btnSupprimer').addEventListener('click',function(event){
        if( !confirm("Voulez vous supprimer cet article ?") ){
            event.preventDefault();
        }
    });
</script>
{% endblock %}