{% extends 'base.html.twig' %}

{% block title %} Liste des articles {% endblock %}
{% block stylesheets %}
    <!-- AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock %}
{% block body %}

<section class="articles">
          {% for article in articles %}
              <article id="article_{{article.id}}">
                    <h2>{{article.title}}</h2>
                    <div class="metadata">
                      Ecrit le {{article.createdAt|date('d/m/Y')}} à {{article.createdAt|date('H:i')}} 
                      {% if article.modifiedAt  %}
                          &nbsp;-&nbsp;
                          Modifié le {{article.modifiedAt|date('d/m/Y')}} 
                          à {{article.modifiedAt|date('H:i')}} 
                      {% endif %}
                      &nbsp;dans la catégorie <strong>{{article.category.title}}.</strong><br> 
                      &nbsp;Par : <strong>{{article.user.username}}.</strong><br>
                      &nbsp;Etat : <strong>{{article.etat.statut}}.</strong><br> 
                    </div>
                    <div class="content">
                        <img width="25%"  src="/{{chemin_images_articles}}/{{article.image}}"  alt="Image de l'article" onerror="this.src='/images/inconnu.png';">
                        <p>{{article.content|raw}}</p>
                        <a href="{{ path('article_show',{'id':article.id}) }}" class="btn btn-primary">lire la suite</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('article_publier',{'id':article.id,'type':'json'}) }}" class="btn btn-primary btnPublier">Publier l'article</a>
                        {% endif %}
                        <a class="js-like" href="{{path('article_like',{'id':article.id})}}">
                            {% if app.user and article.isLikedByUser(app.user) %}
                                <i class="fas fa-thumbs-up"></i>
                            {% else %}
                                <i class="far fa-thumbs-up"></i>
                            {% endif %}                           
                            <span class="js-likes">{{article.alikes|length}}</span>
                            <span class="js-label">J'aime</span>
                        </a>
                  </div>
              </article> 
          {% endfor %}
  </section>
{% endblock %}
{% block javascripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    document.querySelectorAll('a.btnSupprimer').forEach(function(elt){
        elt.addEventListener('click',function(event){
            if( !confirm("Voulez vous supprimer cet article ?") ){
                event.preventDefault();
            }
        });
    });

    //AJAX LIKE
    document.querySelectorAll('a.js-like').forEach(function(elt){
        elt.addEventListener('click',function(event){
           
            //alert(url);
            const url=this.href;
            const spanCount=this.querySelector('span.js-likes');
            const icone=this.querySelector('i');

            axios.post(url).then(function(response){

                console.log(response.data);             
                spanCount.textContent=response.data.likes;
                if(icone.classList.contains('fas')){
                    icone.classList.replace('fas','far');
                }else{
                    icone.classList.replace('far','fas');
                }


            }).catch(function(error){
                if(error.response.status==403){
                    alert("Vous devez vous connecter pour liker");
                    window.location.href="/connexion";
                }else{
                    alert("Une erreur s'est produite "+error.response.statusText)
                }
                //console.log(error)
            });

            event.preventDefault();
            
        });
    });

    //AJAX PUBLIER
    document.querySelectorAll('.btnPublier').forEach(function(elt){
        elt.addEventListener('click',function(event){
           
            //alert(url);
            const url=this.href;
            
            axios.post(url).then(function(response){
                //console.log(response.data);                    
                document.getElementById('article_'+response.data.id).style.display = "none";           
                alert("L'article est Publié");
            }).catch(function(error){             
                alert("Une erreur s'est produite "+error.response.statusText)
                //console.log(error)
            });

            event.preventDefault();
            
        });
    });




</script>
{% endblock %}