{% extends 'base.html.twig' %}

{% block title %} Détail d'un article {% endblock %}

{% block body %}

<article>
      <h2>{{article.title}}</h2>
     <div class="metadata">
        Ecrit le {{article.createdAt|date('d/m/Y')}} à {{article.createdAt|date('H:i')}} 
        {% if article.modifiedAt  %}
            &nbsp;-&nbsp;
            Modifié le {{article.modifiedAt|date('d/m/Y')}} 
            à {{article.modifiedAt|date('H:i')}} 
        {% endif %}
        &nbsp;dans la catégorie <strong>{{article.category.title}}.</strong><br> 
        &nbsp;Etat : <strong>{{article.etat.statut}}.</strong><br>
        &nbsp;Par : <strong>{{article.user.username}}.</strong><br>        
      </div>
      <div class="content">
         <img width="50%"  src="/{{chemin_images_articles}}/{{article.image}}"  alt="Image de l'article" onerror="this.src='/images/inconnu.png';">
         <p>{{article.content|raw}}</p>
      </div>
 </article>
 {% if app.user  %}
    <a href="{{ path('article_download',{'id':article.id}) }}" class="btn btn-primary">Download image</a>
 {% endif %}
 {%  if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('article_publier',{'id':article.id}) }}" class="btn btn-primary">Publier l'article</a>
 {% endif %}

 <section id="commentaires">
    <h3>{{ article.comments | length }} Commentaire(s) : </h3>
    <div class="comment">
        {% for comment in article.comments %}
            {%  if comment.code=='' or comment.user==app.user %}           
            <div class="row alert alert-{{ comment.code==''? 'success':'danger'  }}">
                <div class="col-3">
                    <h6>Commentaire {{ comment.code==''? 'Publié':'En attente'  }}</h6>
                    {{comment.user.username}}  (<small>{{comment.createdAt|date('d/m/Y à H:i')}}</small>)         
                </div>
                <div class="col-9">
                    {{comment.content|raw}}
                </div>
            </div> 
            {% endif %}   
        {% endfor %}
    </div>
</section>
{% if app.user %}
    {{ include('comment/_form.html.twig',{'id':article.id})}}
{% else %}
     <h3>Pour ajouter des commentaires , vous devez être connecté</h3>
     <a href="{{path('security_login')}}" class="btn btn-primary">Connexion</a>
{% endif %}
{% endblock %}
{% block javascripts %}
<script>
////////////////Ligne qui permet d'attendre que la page soit chargée///////////////
window.onload=function()   { 
///////////////////////////////////////////////////////////////////////////////////
    //Je vérifie d'abord qu'un élément avec id=btnSupprimer existe avant de lui ajouter une evenement
    if (document.getElementById("btnSupprimer")){
        document.getElementById('btnSupprimer').addEventListener('click',function(event){
            if( !confirm("Voulez vous supprimer cet article ?") ){
                event.preventDefault();
            }
        });
    }
 
///////////////////////////////////////////////////////////////////////////////////
}
///////////////////////////////////////////////////////////////////////////////////
</script>
{% endblock %}
