<h3>Bonjour {{ name }} Cliquez sur le lien ci-dessous pour réinitialiser votre mot de passe</h3>
<br><a href="{{url('user_valid',{'code':code})}}">
    Réinitialisation du mot de passe de l'inscription
</a>
<br><br><img src={{ absolute_url("/images/logo.png") }}>
