{% extends 'base.html.twig' %}

{% block title %}Liste Articles en Brouillons{% endblock %}

{% block body %}
    <h3 class="alert alert-info text-center">Liste des articles dans l'état Brouillon</h3>
    <section class="articles">
        {% for article in articles %}
            <article id="article_{{article.id}}">
                  <h4>Titre : {{article.title}}</h4>
                  <div class="metadata">
                    Ecrit le {{article.createdAt|date('d/m/Y')}} à {{article.createdAt|date('H:i')}} 
                    {% if article.modifiedAt  %}
                        &nbsp;-&nbsp;
                        Modifié le {{article.modifiedAt|date('d/m/Y')}} 
                        à {{article.modifiedAt|date('H:i')}} 
                    {% endif %}
                    &nbsp;dans la catégorie <strong>{{article.category.title}}.</strong><br> 
                    &nbsp;Par : <strong>{{article.user.username}}.</strong><br>
                    &nbsp;Etat : <strong>{{article.etat.statut}}.</strong><br> 
                  </div>
                  <div class="content">
                    <img width="25%"  src="/{{chemin_images_articles}}/{{article.image}}"  alt="Image de l'article" onerror="this.src='/images/inconnu.png';">
                    <p>{{article.content|raw}}</p>
                 </div>
                 {% if app.user and app.user==article.user  %}
                    <a href="{{ path('article_edit',{'id':article.id,'type':'brouillon'}) }}" class="btn btn-primary">Modifier l'article</a>
                    <a  id="btnSupprimer"  href="{{ path('article_delete',{'id':article.id,'type':'brouillon'}) }}" class="btn btn-primary">Supprimer l'article</a>
                {% endif %}
            </article>
            <br><br><br>
        {% endfor %}
    </section>
{% endblock %}
{% block javascripts %}
<script>
////////////////Ligne qui permet d'attendre que la page soit chargée///////////////
window.onload=function()   { 
///////////////////////////////////////////////////////////////////////////////////
    //Je vérifie d'abord qu'un élément avec id=btnSupprimer existe avant de lui ajouter une evenement
    if (document.getElementById("btnSupprimer")){
        document.getElementById('btnSupprimer').addEventListener('click',function(event){
            if( !confirm("Voulez vous supprimer cet article ?") ){
                event.preventDefault();
            }
        });
    }
 
///////////////////////////////////////////////////////////////////////////////////
}
///////////////////////////////////////////////////////////////////////////////////
</script>
{% endblock %}
