{% extends 'base.html.twig' %}

{% block title %}Liste Commentaires{% endblock %}
{% block stylesheets %}
    <!-- AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock %}
{% block body %}
    <h3 class="alert alert-info text-center">Liste des articles avec des commentaires non validés</h3>
    <section class="articles">
        {% for article in articles %}
            <article id="article_{{article.id}}">
                  <h4>Titre : {{article.title}}</h4>
                  <div class="metadata">
                    Ecrit le {{article.createdAt|date('d/m/Y')}} à {{article.createdAt|date('H:i')}} 
                    {% if article.modifiedAt  %}
                        &nbsp;-&nbsp;
                        Modifié le {{article.modifiedAt|date('d/m/Y')}} 
                        à {{article.modifiedAt|date('H:i')}} 
                    {% endif %}
                    &nbsp;dans la catégorie <strong>{{article.category.title}}.</strong><br> 
                    &nbsp;Par : <strong>{{article.user.username}}.</strong><br>
                    &nbsp;Etat : <strong>{{article.etat.statut}}.</strong><br> 
                  </div>
                  <div class="content">
                    <img width="25%"  src="/{{chemin_images_articles}}/{{article.image}}"  alt="Image de l'article" onerror="this.src='/images/inconnu.png';">
                    <p>{{article.content|raw}}</p>
                 </div>
            </article>
            <section id="commentaires">
                <h5 class="nbComments">{{ article.comments | length }} Commentaire(s) <i class="fas fa-arrows-alt-v" ></i></h5>
                <div class="comment" style="display:none">
                    {% for comment in article.comments |reverse %} 
                        {% if comment.code=='' or (comment.code!='' and comment.user==app.user) %}
                            <div class="row alert alert-{{ comment.code==''? 'success':'danger'  }}">
                                <div class="col-3">
                                    <h6>Commentaire {{ comment.code==''? 'Publié':'En attente'  }}</h6>
                                    {{comment.user.username}}  (<small>{{comment.createdAt|date('d/m/Y à H:i')}}</small>)             
                                    {% if comment.code!='' and comment.user==app.user %}
                                        <a href="{{path('comment_delete',{'id':comment.id,'type':'bouser'})}}" class="btn btn-success btnSupprimer">Supprimer !</a> 
                                    {% endif %}        
                                </div>
                                <div class="col-9">
                                    {{comment.content|raw}}
                                </div>
                            </div>  
                        {% endif %} 
                    {% endfor %}
                </div>
            </section> 
            <br><br><br>
        {% endfor %}
    </section>
{% endblock %}
{% block javascripts %}
<script>
////////////////Ligne qui permet d'attendre que la page soit chargée///////////////
window.onload=function()   { 
///////////////////////////////////////////////////////////////////////////////////
    document.querySelectorAll('.nbComments').forEach(function(elt){
        elt.addEventListener('click',function(event){
            if(this.nextElementSibling.style.display!="block"){
                this.nextElementSibling.style.display="block" ;
            }else{
                this.nextElementSibling.style.display="none" ;
            }
        });
    });
    document.querySelectorAll('a.btnSupprimer').forEach(function(elt){
        elt.addEventListener('click',function(event){
            if( !confirm("Voulez vous supprimer ce commentaire ?") ){
                event.preventDefault();
            }
        });
    });
///////////////////////////////////////////////////////////////////////////////////
}
///////////////////////////////////////////////////////////////////////////////////
</script>
{% endblock %}

