{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h3>Utilisateur : {{ user.username }}</h3>
    {{message|default('')|raw}}

    <table class="table table-hover table-bordered">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ user.adresse }}</td>
            </tr>
            <tr>
                <th>Date naissance</th>
                <td>{{ user.bornAt ? user.bornAt|date('d/m/Y') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">Editer</a>
    <a class="btn btn-success" href="{{ path('user_mdpreinit', {'id': user.id}) }}">
        Réinitialisation mot de passe
    </a>
    {% if not is_granted('ROLE_ADMIN') %}
        <a class="btn btn-success" href="{{ path('user_attente', {'id': user.id}) }}">
            Article Attente
        </a>
        <a class="btn btn-success" href="{{ path('user_brouillon', {'id': user.id}) }}">
            Article Brouillon
        </a>
        <a class="btn btn-success" href="{{ path('user_commentaire', {'id': user.id}) }}">
            Commentaire Attente
        </a>
    {% endif %}
   
{% endblock %}
