{% extends 'base.html.twig' %}

{% block title %}Réinitialisation Mot de passe{% endblock %}

{% block body %}
  
{{message|default('')|raw}}
<h3>Veuillez saisir votre nouveau mot de passe deux fois</h3>
<form action="" method="post" class="form-group">

    <label for="">Nouveau Mot de passe</label>
    <input type="password" name="password" class="form-control" placeholder="Mot de passe">
    <label for="">Confirmation Mot de passe</label>
    <input type="password" name="passwordconfirm" class="form-control" placeholder="Confirmation">
    <br>
    <button type="submit" class="btn btn-primary">Valider</button>

</form>

{% endblock %}